 @font-face {
    font-family: Gilroy;
   }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body, a {
    font-family: 'Gilroy';
    font-style: normal;
    color: #585858;
}

img {
    width: 100%;
}

.menu {
    height: 48px;
    background: #F1F1F1;
}

.search input {
      font-size: 1rem;
      display: block;
      width: 90%;
      border: none;
      border-bottom: 1px solid #ccc;
      background: #F1F1F1;
      padding-left: 5px;
}

.search input:focus {
      outline: none;
}

.search img {
    width: 15px;
    heigt: 15px;
}

.ava {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.avatar img{
    border-radius: 50%;
}
.anonim-ava {
    height: 1.5rem;
    width: 1.5rem;
}


.content {
    flex: 1 0 auto;
    margin-top: 3rem;
}

a:hover {
    color: black;
    text-decoration: none;
}




.sticky-top {
    top: 68px;
}

.sidebar {
    width: 80%;
    background: #F1F1F1;
    border-radius: 4px;
}

.sidebar-header {
    font-size: 1rem;
    font-weight: 700;
}

.sidebar-item {
    font-size: .9rem;
    font-weight: 700;
}

.br {
    border-top: 1px solid #d5dddf;
}




.page-header {
    height: 5rem;
    font-size: 2rem;
}

.article {
    border-top: 1px solid #d5dddf;
}

.article p {
    font-size: 1.2rem;
}

.pagination .active .page-link {
    background-color: #a3bcdf;
    border-color: #a3bcdf;
}

.review .btn {
    width: 70%;
}

.login {
    margin-top: 126px;
    width: 480px;
    margin-bottom: 240px;
}

.edit {
    margin-top: 56px;
    width: 480px;
}




.footer {
    flex-shrink: 0;
}

.footer {
    background: #F1F1F1;
}
.footer .contact {
    padding-top: 1rem;
}

.footer-br {
    height: 2rem;
    border-bottom: 1px solid #d5dddf;
}
.footer p {
    margin-bottom: 0.5rem;
}

.footer .basement {
    height: 40px;
    background: #434343;
}

.footer .basement .years {
    padding-top: 10px;
}


.footer .basement p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}