{% extends 'base.html' %}

{% block title %}
Мои статьи
{% endblock %}

{% block content %}

<div class="container">

    <div class="row my-4 align-items-center my-articles">

        <div class="col text-center">
            <h5>Наименование</h5>
        </div>

        <div class="col text-center">
            <h5>Теги</h5>
        </div>

        <div class="col text-center">
            <h5>Постер</h5>
        </div>

        <div class="col text-center">
            <h5>Дата публикации</h5>
        </div>

        <div class="col text-center">
            <h5>Дата редактирования</h5>
        </div>

        <div class="col text-center">
            <h5>Опубликована</h5>
        </div>

        <div class="col-1 text-center">
            <a href="{{ url_for('account_app.create_article') }}">
                <button class="btn btn-secondary">Написать</button>
            </a>
        </div>

    </div>


    {% for article in object_list %}

    <div class="row my-4 align-items-center">

        <div class="col">
            <a href="{{ url_for('main_app.article_detail', article_id=article.id) }}">
                <p>{{ article.title }}</p>
            </a>
        </div>

        <div class="col">
            {% for tag in article.tags %}
            <a href="{{ url_for('main_app.tag_articles', tag_id=tag.id) }}">{{ tag.name }},&ensp;</a>
            {% endfor %}
        </div>

        <div class="col">
            <img src="{{ url_for('static', filename='images') }}/{{ article.poster }}" alt="poster">
        </div>
        <div class="col">
            <p>{{ article.pub_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        </div>
        <div class="col">
            <p>{{ article.updated.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        </div>
        <div class="col">
            {% if article.draft %}
            <p>нет</p>
            {% else %}
            <p>да</p>
            {% endif %}
        </div>
        <div class="col-1">
            <a href="{{ url_for('account_app.edit_article', article_id=article.id) }}"><button class="btn btn-secondary">Редактировать</button></a>
        </div>


    </div>


    {% else %}

    <h1 class="text-center mt-5">У вас пока нет статей!</h1>

    {% endfor %}


</div>

{% endblock %}

